<a href="{{ review.get_absolute_url }}" class="dont-decorate">
  <div class="row">
    <div class="col-md-3 teaser-block">
      <img src="{{ MEDIA_URL }}{{ review.album.cover_art }}" class="img-responsive">
    </div>
    <div class="col-md-9 teaser-block hide-overflow">
      <div class="row">
        <div class="col-md-4">
          <header>
            <h1>{{ review.title }}</h1>
            {% if review.subtitle %}<h2>{{ review.subtitle }}</h2>{% endif %}
            <h4><em>{{ review.album.title }}</em> by {{ review.album.band.name }}</h4>
            <h5>{{ review.published|date }}</h5>
          </header>
        </div>
        <div class="col-md-8">
          {{ review.body|safe }}
        </div>
      </div>
    </div>
  </div>
</a>

<hr>
