<a href="{{ review.get_absolute_url }}" class="dont-decorate">
  <div class="col-lg-6 home-block">
    <div class="row">
      <div class="col-lg-6">
        <img src="{{ MEDIA_URL }}{{ review.album.cover_art }}" class="img-responsive">
      </div>
      <div class="col-lg-6">
        <header>
          <h2>{{ review.title }}</h2>
          <h3>{{ review.subtitle }}</h3>
          <h4>{{ review.album }}</h4>
          <h5>{{ review.published|date }}</h5>
        </header>
        {{ review.body|safe }}
      </div>
      <div class="fade-to-white"></div>
    </div>
  </div>
</a>
