<a href="{{ review.get_absolute_url }}" class="dont-decorate">
  <div class="row">
    <!-- image -->
    <div class="col-lg-6" id="callout-image">
      <img src="{{ MEDIA_URL }}{{ review.album.cover_art }}" class="img-responsive">
    </div>
    <!-- /image -->

    <div class="col-lg-6 overlay" id="callout-body">
      <!-- title -->
      <header>
        <h1>{{ review.title }}</h1>
        <h2>{{ review.subtitle }}</h2>
        <h4>{{ review.album }}</h4>
        <h5>{{ review.published|date }}</h5>
      </header>
      <!-- /title -->
      <!-- body -->
      {{ review.body|safe }}
      <!-- /body -->

      <div class="fade-to-white"></div>

    </div>
  </div>
</a>
