<a href="{{ review.get_absolute_url }}" class="dont-decorate">
  <div class="row">
    <!-- image -->
    <div class="col-lg-6" id="callout-image">
      <img src="{{ MEDIA_URL }}{{ review.album.cover_art }}" class="img-responsive">
    </div>
    <!-- /image -->

    <div class="col-lg-6 overlay" id="callout-body">
      <!-- title -->
      <header>
        <h1>{{ review.title }}</h1>
        {% if review.subtitle %}<h2>{{ review.subtitle }}</h2>{% endif %}
        <h4><em>{{ review.album.title }}</em> by {{ review.album.band.name }}</h4>
        <h5>{{ review.published|date }}</h5>
      </header>
      <!-- /title -->
      <!-- body -->
      {{ review.body|safe }}
      <!-- /body -->

      <div class="fade-to-white"></div>

    </div>
  </div>
</a>
