<script>
  $(function () {
    $('#ratings-chart').highcharts({
      chart: {
        type: 'bar',
        backgroundColor: '#272b30',
        style: {
          color: '#ffffff'
        }
      },
      title: {
        text: 'Average Score: {{ avg_score }}',
        style: {
          color: '#ffffff'
        }
      },
      xAxis: {
        allowDecimals: false,
        categories: {{ categories }},
        title: {
          text: null
        },
        labels: {
          style: {
            color: '#ffffff'
          }
        },
      },
      yAxis: {
        min: 0,
        max: 10,
        allowDecimals: false,
        title: {
          text: 'Score',
          align: 'high',
          style: {
            color: '#ffffff'
          }
        },
        labels: {
          overflow: 'justify',
          style: {
            color: '#ffffff'
          }
        }
      },
      tooltip: {
        valueSuffix: ' stars'
      },
      plotOptions: {
        bar: {
          dataLabels: {
            enabled: false
          }
        }
      },
      credits: {
        enabled: false
      },
      legend: {
        enabled: false
      },
      series: [ {
        data: {{ scores }}
      } ],
      colors: [ '#cfcfcf' ]
    });
  });
</script>
