{% load static %}

<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" rel="home" href="{% url 'home' %}" title="Metal Trenches">
        <img src="{% static 'images/logo-white-480x480.png' %}" class="img-responsive" width="30px">
      </a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'review-list' %}">Reviews</a></li>
{#        <li><a href="{% url 'post-list' %}">Posts</a></li>#}
        <li><a href="{% url 'genre-list' %}">Genres</a></li>
        <li><a href="{% url 'band-list' %}">Bands</a></li>
        <li><a href="{% url 'album-list' %}">Albums</a></li>
{#        <li><a href="{% url 'event-list' %}">Events</a></li>#}
        <li><a href="{% url 'contact' %}">Contact</a></li>
      </ul>
      <div class="pull-right">
        <form class="navbar-form" role="search" method="get" action="/search/">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="q" id="q">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
