{% extends "base/contained.html" %}

{% load reviews %}


{% block title %}Bands{{ block.super }}{% endblock %}


{% block content %}
  {% for band in bands %}
  <div class="row">
    <header>
      <h4>{{ band.name }}</h4>
    </header>
    <ul class="list-unstyled">
      {% for album in band.albums.all %}
        {% for review in album.reviews.all %}
          <li><a href="{{ review.get_absolute_url }}">{{ review.title }}</a></li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
  {% endfor %}

  {% ad_space %}
{% endblock %}
