{% extends "base/jumbo.html" %}

{% load pipeline %}


{% block title %}Home{{ block.super }}{% endblock %}


{% block jumbotron %}
  <div class="col-lg-4">
    <h1>Welcome to Metal Trenches</h1>
    <h2>A FlightOfIcarus Production</h2>
  </div>
  <div class="col-lg-8">
    <p>
      This site was developed as a means to help lesser-known bands and musicians gain increased exposure.
      I do enjoy listening to and writing about music, but nothing is more satisfying than hearing that a
      posted publication or link resulted in a new fan for a deserving artist.
    </p>
    <p>
      Happy head-banging.<br>
      FlightOfIcarus
    </p>
  </div>
{% endblock %}


{% block content %}

  <!-- call out -->
  {% with review=reviews.0 %}
    {% include "reviews/partials/home/callout.html" %}
  {% endwith %}
  <!-- /call out -->

  <!-- spacer -->
  <hr>
  <!-- /spacer -->

  <!-- list of reviews -->
  <div class="row">
  {% for review in reviews|slice:"1:" %}
    {% include "reviews/partials/home/block.html" %}

  {% if forloop.counter|divisibleby:"2" %}
  </div>
  <hr>
  <div class="row">
  {% endif %}

  {% endfor %}
  </div>
  <!-- /list of reviews -->

{% endblock %}


{% block scripts %}
{% javascript 'homepage' %}
{% endblock %}
