{% extends "base/jumbo.html" %}

{% load pipeline static %}


{% block title %}Home{{ block.super }}{% endblock %}


{% block jumbotron %}
  <div class="col-lg-5">
    <img src="{% static 'images/logo-alt-white-480x480.png' %}" class="img-responsive">
  </div>
  <div class="col-lg-7">
    <p class="header-text">
      This site was developed as a means to help lesser-known bands and musicians gain increased exposure.
      I do enjoy listening to and writing about music, but nothing is more satisfying than hearing that a
      posted publication or link resulted in a new fan for a deserving artist.
    </p>
    <p class="header-text">
      Happy head-banging.<br>
      FlightOfIcarus
    </p>
  </div>
{% endblock %}


{% block content %}

  <!-- call out -->
  {% with review=reviews.0 %}
    {% include "reviews/partials/home/callout.html" %}
  {% endwith %}
  <!-- /call out -->

  <!-- spacer -->
  <hr>
  <!-- /spacer -->

  <!-- list of reviews -->
  {% for review in reviews|slice:"1:" %}
    {% include "reviews/partials/home/block.html" %}
  {% endfor %}
  <!-- /list of reviews -->

{% endblock %}


{% block scripts %}
{% javascript 'homepage' %}
{% endblock %}
