{% extends "base/jumbo.html" %}

{% load pipeline reviews social bands %}


{% block title %}{{ review.title }}{% if review.subtitle %}: {{ review.subtitle }}{% endif %}{{ block.super }}{% endblock %}


{% block keywords %}{{ review.album.title }}, {{ review.album.band.name }}{% endblock %}


{% block extra_meta %}
  {% include "social/open-graph.html" %}
  {% include "social/twitter-card.html" %}
{% endblock %}


{% block social_scripts %}
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  {% fb_sdk %}
{% endblock %}


{% block jumbotron %}
  <div class="row">
    <div class="col-lg-6">
      <img src="{{ MEDIA_URL }}{{ review.album.cover_art }}" class="img-responsive">
    </div>

    <div class="col-lg-6">
      <div class="container container-fluid">
        <div class="row">
          <header>
            <h1>{{ review.title }}</h1>
            {% if review.subtitle %}<h2>{{ review.subtitle }}</h2>{% endif %}
            <h5>{{ review.published|date }}</h5>
            <h3>
              <a href="{{ review.album.get_absolute_url }}"><em>{{ review.album.title }}</em></a>
              &nbsp;by <a href="{{ review.album.band.get_absolute_url }}">{{ review.album.band }}</a></h3>
          </header>
        </div>
        <div class="row">
          {% band_links review.album.band %}
        </div>
        <div class="row">
          <h4>
            {% include "social/share-tools.html" %}
          </h4>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block content %}
  <div id="ratings-chart" class="row" style="height:270px;"></div>

  <div class="row">
    {{ review.body|safe }}
  </div>

  <div class="row">
    <p>&nbsp;</p>
    <p class="small">
      Did you check out <em>{{ review.album.title }}</em>? Like what you heard? Awesome! Help {{ review.album.band.name }}
      get some well deserved fans. {% include "social/share-tools.html" %}
    </p>
    {% if review.album.band.bandcamp %}
    <p class="small">
      Better yet, if you haven't bought <em>{{ review.album.title }}</em> yet go do that now!
      <a href="{{ review.album.band.bandcamp }}" target="_blank">{{ review.album.band.bandcamp }}</a>
      And tell them that FlightOfIcarus told you to do it.
    </p>
    {% endif %}
  </div>
{% endblock %}


{% block scripts %}
{% if review.album %}
  {% javascript 'highcharts' %}
  {% hc_script review.album %}
  {% include "social/fb-share-script.html" %}
{% endif %}
{% endblock %}
