{% extends "base/contained.html" %}


{% block title %}Reviews{{ block.super }}{% endblock %}


{% block content %}

  <!-- list of reviews -->

  {% for review in reviews %}
  <div class="row">
    <div class="col-lg-4">
      <header>
        <h1>{{ review.title }}</h1>
        {% if review.subtitle %}<h2>{{ review.subtitle }}</h2>{% endif %}
        <h4>{{ review.album }}</h4>
        <h5>{{ review.published|date }}</h5>
      </header>
    </div>
    <div class="col-lg-8">
      {{ review.body|striptags|slice:":450" }} ... <a href="{{ review.get_absolute_url }}">Keep Reading</a>
    </div>
  </div>
  <hr>
  {% endfor %}
  <!-- /list of reviews -->

  <!-- pagination -->
  {% include "reviews/partials/pagination/paginator.html" with collection=reviews %}
  <!-- /pagination -->

{% endblock %}
