{% extends "base/contained.html" %}


{% block title %}Reviews{{ block.super }}{% endblock %}


{% block content %}
  <!-- pagination -->
  {% include "reviews/partials/pagination/paginator.html" with collection=reviews %}
  <!-- /pagination -->

  <hr>

  <!-- list of reviews -->
  {% for review in reviews %}
    {% include "reviews/partials/home/block.html" %}
  {% endfor %}
  <!-- /list of reviews -->

  <!-- pagination -->
  {% include "reviews/partials/pagination/paginator.html" with collection=reviews %}
  <!-- /pagination -->

{% endblock %}
