{% extends "base/jumbo.html" %}

{% load pipeline reviews social %}


{% block title %}{{ review.title }}{% if review.subtitle %}: {{ review.subtitle }}{% endif %}{{ block.super }}{% endblock %}


{% block keywords %}{{ review.album.title }}, {{ review.album.band.name }}{% endblock %}


{% block extra_meta %}
  <meta property="og:title" content="{{ review.title }}">
  {% open_graph review %}
  {% twitter_card review %}
{% endblock %}


{% block jumbotron %}
  <div class="row">
    <div class="col-lg-6">
      <img src="{{ MEDIA_URL }}{{ review.album.cover_art }}" class="img-responsive">
    </div>

    <div class="col-lg-6">
      <header>
        <h1>{{ review.title }}</h1>
        {% if review.subtitle %}<h2>{{ review.subtitle }}</h2>{% endif %}
        <h5>{{ review.published|date }}</h5>
        <h3>
          <a href="{{ review.album.get_absolute_url }}"><em>{{ review.album.title }}</em></a>
          &nbsp;by <a href="{{ review.album.band.get_absolute_url }}">{{ review.album.band }}</a></h3>
      </header>

      <p>&nbsp;</p>

      <div id="ratings-chart" style="height:300px;"></div>

      <div style="position:relative;bottom:0;">
        <h4>
          Share This Review:
          <div class="fb-share-button" data-href="http://metaltrenches.com/{{ review.get_absolute_url }}" data-layout="icon"></div>
        </h4>
      </div>
    </div>
  </div>
{% endblock %}


{% block content %}
  <div class="row">
    {{ review.body|safe }}
  </div>
  <div id="fb-root"></div>
{% endblock %}


{% block scripts %}
{% if review.album %}
  {% javascript 'highcharts' %}
  {% hc_script review.album %}
  <script>(function(d, s, id){var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=950325951684443";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
{% endif %}
{% endblock %}
