{% extends 'base/jumbo.html' %}
{% load pipeline %}


{% block title %}
  HOME{{ block.super }}
{% endblock title %}


{% block stylesheets %}
  {% stylesheet 'homepage' %}
{% endblock stylesheets %}


{% block jumbotron %}
  <div class="row">
    {% include 'content/partials/home/pinned-content.html' with content=pinned_content.0 %}
    {% include 'content/partials/home/pinned-content.html' with content=pinned_content.1 %}
  </div>
  <div class="row">
    {% include 'content/partials/home/pinned-content.html' with content=pinned_content.2 %}
    {% include 'content/partials/home/pinned-content.html' with content=pinned_content.3 %}
  </div>
{% endblock jumbotron %}


{% block content %}
  <div class="row">
    <div class="col-lg-9">
      <div class="row">
        <h1>Reviews</h1>
      </div>
      {% for item in content %}
        {% include 'content/partials/content/list-row.html' with content=item %}
        {% if not forloop.last %}
          <hr>
        {% endif %}
      {% endfor %}
    </div>

    <div class="col-lg-1"></div>

    <div class="col-lg-2" style="overflow: hidden">
      <div class="row">
        <h1>Posts</h1>
      </div>
      {% for post in posts %}
          <div class="row">
            <small>{{ post.published|date }}</small>:
            <a href="{{ post.get_absolute_url }}" class="dont-decorate">
              {{ post.title }}
            </a>
          </div>
        {% if not forloop.last %}
          <hr>
        {% endif %}
      {% endfor %}
    </div>
  </div>

{% endblock content %}
