<div class="row">
  <div class="col-lg-1 text-left">
    <header>
      <h3>
        {% if collection.has_previous %}
        <a href="?page={{ collection.previous_page_number }}"><i class="fa fa-backward fa-2x"></i></a>
        {% endif %}
      </h3>
    </header>
  </div>

  <div class="col-lg-10 text-center">
    <header>
      <h3 class="text-center">
        <span class="small">On This Page:</span><br>
        {{ first }}
        <span class="small">to</span>
        {{ last }}
      </h3>
    </header>
  </div>

  <div class="col-lg-1 text-right">
    <header>
      <h3>
        {% if collection.has_next %}
        <a href="?page={{ collection.next_page_number }}"><i class="fa fa-forward fa-2x"></i></a>
        {% endif %}
      </h3>
    </header>
  </div>
</div>
