Share This Review:&nbsp;

<a class="dont-decorate" style="color:#55acee;" href="https://twitter.com/share?url=http://metaltrenches.com/{{ review.get_absolute_url }}&text={{ review.title }}&via=MetalTrenches" target="_blank">
  <span><i class="fa fa-twitter"></i></span>
</a>&nbsp;

<a class="dont-decorate" style="color:#3b5998;" href="#" onclick="fbShare()">
  <span><i class="fa fa-facebook"></i></span>
</a>&nbsp;

<a class="dont-decorate" style="color:#336699;" href="http://www.reddit.com/submit?url=http://metaltrenches.com/{{ review.get_absolute_url }}&title={{ review.title }}" target="_blank">
  <span><i class="fa fa-reddit"></i></span>
</a>&nbsp;
