Share This Review:

<a class="dont-decorate" href="https://twitter.com/share?url=http://metaltrenches.com/{{ review.get_absolute_url }}&text={{ review.title }}&via=MetalTrenches" target="_blank">
  <span><i class="fa fa-twitter share-twitter"></i></span>
</a>

<a class="dont-decorate" href="#" onclick="fbShare()">
  <span><i class="fa fa-facebook share-facebook"></i></span>
</a>

<a class="dont-decorate" href="http://www.reddit.com/submit?url=http://metaltrenches.com/{{ review.get_absolute_url }}&title={{ review.title }}" target="_blank">
  <span><i class="fa fa-reddit share-reddit"></i></span>
</a>
