{% extends 'base/jumbo.html' %}
{% load pipeline social %}


{% block title %}
  {{ album.title }}
  {{ block.super }}
{% endblock title %}


{% block extra_meta %}
  {% include 'social/open-graph.html' %}
  {% include 'social/twitter-card.html' %}
{% endblock extra_meta %}


{% block stylesheets %}
  {% stylesheet 'content' %}
{% endblock stylesheets %}


{% block social_scripts %}
  {% fb_sdk %}
{% endblock social_scripts %}


{% block jumbotron %}
  <div class="row">
    <div class="col-lg-6">
      <img src="{{ MEDIA_URL }}{{ album.cover_art }}" class="img-responsive">
    </div>
    <div class="col-lg-6">
      <h2>{{ album.title }} <small>by {{ album.band.name }}</small></h2>
      <h3>Released {{ album.release_date|date }}</h3>

      <div>
        <p>&nbsp;</p>
        Reviews about {{ album.title }}
        <br>
        {% for review in album.get_reviews %}
          <a href="{% url 'review-detail' slug=review.slug pk=review.pk %}" class="dont-decorate">
            {{ review.title }}</a>
          <small>// {{ review.published|date }}</small>
          <br>
        {% endfor %}
      </div>

      <div>
        <p>&nbsp;</p>
        {% include 'content/partials/review-detail/band-links.html' with band=album.band %}
      </div>
    </div>
  </div>
{% endblock %}


{% block content %}

{% endblock %}


{% block scripts %}
  {% include 'social/fb-share-script.html' %}
{% endblock scripts %}
