{% extends "base/contained.html" %}


{% block title %}Albums{{ block.super }}{% endblock %}


{% block content %}

  <!-- list of albums -->
  {% for album in albums %}
  <div class="row">
    <header>
      <h4>
        {{ album.title }}
        <span class="small">
          &nbsp;by&nbsp;
          <a href="{{ album.band.get_absolute_url }}">{{ album.band }}</a>
        </span>
      </h4>
    </header>

    <ul class="list-unstyled">
      <li>See Details for <a href="{{ album.get_absolute_url }}"><em>{{ album.title }}</em></a></li>
      {% for review in album.reviews.all %}
      <li>Read the Review <a href="{{ review.get_absolute_url }}"><em>{{ review }}</em></a></li>
      {% endfor %}
    </ul>
  </div>

  <hr>
  {% endfor %}
  <!-- /list of albums -->

  <!-- pagination -->
  {% include "reviews/partials/pagination/paginator.html" with collection=albums %}
  <!-- /pagination -->

{% endblock %}
