{% extends 'base/contained.html' %}
{% load pipeline social %}


{% block title %}
  Recorded Sounds
  {{ block.super }}
{% endblock title %}


{% block extra_meta %}
  {% include 'social/open-graph.html' %}
  {% include 'social/twitter-card.html' %}
{% endblock extra_meta %}


{% block stylesheets %}
  {% stylesheet 'content' %}
{% endblock stylesheets %}


{% block social_scripts %}
  {% fb_sdk %}
{% endblock social_scripts %}


{% block content %}
  {% for album_group in albums %}
    <div class="row">
      {% for album in album_group %}
        {% if album %}
          <div class="col-lg-4">
            <h3>
              <a href="{{ album.get_absolute_url }}" class="dont-decorate">
                {{ album.title }}
              </a>
              <a href="{{ album.band.get_absolute_url }}" class="dont-decorate">
                <small>{{ album.band.name }}</small>
              </a>
            </h3>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
{% endblock content %}
