{% extends 'base/contained.html' %}
{% load pipeline social %}


{% block title %}
  Recorded Sounds
  {{ block.super }}
{% endblock title %}


{% block extra_meta %}
  {% include 'social/open-graph.html' %}
  {% include 'social/twitter-card.html' %}
{% endblock extra_meta %}


{% block stylesheets %}
  {% stylesheet 'content' %}
{% endblock stylesheets %}


{% block social_scripts %}
  {% fb_sdk %}
{% endblock social_scripts %}


{% block content %}
  {% for album in albums %}
    <div class="row">
      <h3>{{ album.title }}</h3>
    </div>
  {% endfor %}
{% endblock content %}
