{% extends "base/jumbo.html" %}

{% load bands %}


{% block title %}{{ band.name }}{% endblock %}


{% block keywords %}{{ band.name }}{% for album in band.albums.all %}, {{ album.title }}{% endfor %}{% endblock %}


{% block jumbotron %}
  <div class="row">
    <div class="col-lg-7">
      <header>
        <h1>{{ band }}</h1>
      </header>
    </div>
    <div class="col-lg-5">
      {% band_links band %}
    </div>
  </div>
{% endblock %}


{% block content %}

  <div class="row">
    <div class="col-lg-12">
      <header>
        <h1>Albums and Reviews</h1>
      </header>
    </div>
  </div>

  {% for album in band.albums.all %}
  <div class="row">
    <div class="col-lg-4">
      <img src="{{ MEDIA_URL }}{{ album.cover_art }}" class="img-responsive">
    </div>
    <div class="col-lg-8">
      <ul class="list-unstyled">
        <li><h4>See Details about <a href="{{ album.get_absolute_url }}"><em>{{ album.title }}</em></a></h4></li>
        {% for review in album.reviews.all %}
        <li><h4>Read the Review <a href="{{ review.get_absolute_url }}"><em>{{ review }}</em></a></h4></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}

{% endblock %}
