{% extends "base/contained.html" %}

{% load bands %}


{% block title %}Bands{{ block.super }}{% endblock %}


{% block content %}
  <!-- list of bands -->
  {% for band in bands %}
  <div class="row">
    <div class="col-lg-4">
      <header>
        <a href="{{ band.get_absolute_url }}" class="dont-decorate">
          <h1>{{ band.name }}</h1>
        </a>
      </header>
      {% band_links band %}
    </div>
    <div class="col-lg-8">
      <div class="container">
        {% for album in band.albums.all %}
        <div class="row">
          <div class="col-md-3">
            <a href="{{ album.get_absolute_url }}"{{ album.title }}>
              <img src="{{ MEDIA_URL }}{{ album.cover_art }}" class="img-responsive">
            </a>
          </div>
          <div class="col-md-9">
            <header>
              <a href="{{ album.get_absolute_url }}">
                <h3><em>{{ album.title }}</em></h3>
              </a>
            </header>
            <ul class="list-unstyled">
              {% for review in album.reviews.all %}
              <li>Read the review: <a href="{{ review.get_absolute_url }}">{{ review }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <hr>
  {% endfor %}
  <!-- /list of bands -->

  <!-- pagination -->
  {% include "reviews/partials/pagination/paginator.html" with collection=bands %}
  <!-- /pagination -->

{% endblock %}
