{% extends "base/contained.html" %}

{% load reviews %}


{% block title %}Bands{{ block.super }}{% endblock %}


{% block content %}

  <!-- list of bands -->
  {% for band in bands %}
  <div class="row">
    <header>
      <h4><a href="{{ band.get_absolute_url }}">{{ band }}</a></h4>
    </header>
    <ul class="list-unstyled">
      {% for album in band.albums.all %}
        {% for review in album.reviews.all %}
          <li>{{ album.title }}: <a href="{{ review.get_absolute_url }}">{{ review.title }}</a></li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
  <!-- /list of bands -->

  <!-- spacer -->
  <div class="row"><p>&nbsp;</p></div>
  <!-- /spacer -->

  <!-- pagination -->
  {% include "reviews/partials/pagination/paginator.html" with collection=bands %}
  <!-- /pagination -->

  {% ad_space %}

{% endblock %}
