{% extends 'base/contained.html' %}


{% block title %}
  The Doom Bringers
  {{ block.super }}
{% endblock title %}


{% block content %}
  {% for band_group in bands %}
    <div class="row">
      {% for band in band_group %}
        {% if band %}
          <div class="col-lg-4">
            <h3>
              <a href="{% url 'band-detail' slug=band.slug pk=band.pk %}" class="dont-decorate">
                {{ band.name }}
              </a>
            </h3>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
{% endblock content %}
