{% extends "base/jumbo.html" %}

{% load reviews %}


{% block title %}{{ band.name }}{% endblock %}


{% block keywords %}{{ band.name }}{% for album in band.albums.all %}, {{ album.title }}{% endfor %}{% endblock %}


{% block jumbotron %}
  <div class="row">
    <div class="col-lg-7">
      <header>
        <h1>{{ band }}</h1>
      </header>
    </div>
    <div class="col-lg-5">
      {% if band.website|length or band.facebook|length or band.twitter|length or band.bandcamp|length %}<h3>Links</h3>{% endif %}
      {% if band.website|length %}<a href="{{ band.website }}" target="_blank"><h4>{{ band.name }}'s Website</h4></a><br>{% endif %}
      {% if band.facebook|length %}<a href="{{ band.facebook }}" target="_blank"><h4>{{ band.name }}'s Facebook Page</h4></a><br>{% endif %}
      {% if band.twitter|length %}<a href="{{ band.twitter }}" target="_blank"><h4>{{ band.name }}'s Twitter</h4></a><br>{% endif %}
      {% if band.bandcamp|length %}<a href="{{ band.bandcamp }}" target="_blank"><h4>{{ band.name }}'s Bandcamp Site</h4></a><br>{% endif %}
    </div>
  </div>
{% endblock %}


{% block content %}

  <div class="row">
    <div class="col-lg-12">
      <header>
        <h1>Albums and Reviews</h1>
      </header>
    </div>
  </div>

  {% for album in band.albums.all %}
  <div class="row">
    <div class="col-lg-4">
      <img src="{{ MEDIA_URL }}{{ album.cover_art }}" class="img-responsive">
    </div>
    <div class="col-lg-8">
      <ul class="list-unstyled">
        {% for review in album.reviews.all %}
        <li><h3><a href="{{ review.get_absolute_url }}">{{ review }}</a></h3></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}

  {% ad_space %}

{% endblock %}
