{% extends 'base/jumbo.html' %}


{% block title %}
  {{ band.name }}
  {{ block.super }}
{% endblock title %}


{% block jumbotron %}
  <div class="row">
    <div class="col-lg-6">
      <img src="{{ MEDIA_URL }}{{ band.get_detail_image }}" class="img-responsive">
    </div>
    <div class="col-lg-6">
      <h2>{{ band.name }}</h2>
      <div>
        {% include 'content/partials/review-detail/band-links.html' %}
      </div>
      <div>
        <p>&nbsp;</p>
        Reviews about {{ band.name }}<br>
        {% for review in band.get_reviews %}
        <a href="{% url 'review-detail' slug=review.slug pk=review.pk %}" class="dont-decorate">
          {{ review.title }}</a>
          <small>// {{ review.published|date }}</small><br>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
