{% extends 'base/contained.html' %}
{% load pipeline social %}


{% block title %}
  Genres
  {{ block.super }}
{% endblock title %}


{% block extra_meta %}
  {% include 'social/open-graph.html' %}
  {% include 'social/twitter-card.html' %}
{% endblock extra_meta %}


{% block stylesheets %}
  {% stylesheet 'content' %}
{% endblock stylesheets %}


{% block social_scripts %}
  {% fb_sdk %}
{% endblock social_scripts %}


{% block content %}
  {% for genre_group in genres %}
    <div class="row">
      {% for genre in genre_group %}
        {% if genre %}
          <div class="col-lg-6">
            <h3>
              <a href="#" class="dont-decorate"
                 onclick="$('#{{ genre.slug }}-info').toggleClass('hidden');">
                {{ genre }}
              </a>
            </h3>

            <div id="{{ genre.slug }}-info" class="hidden">
              <ul class="nav nav-tabs" role="tablist">
                <li class="active">
                  <a href="#{{ genre.slug }}-albums" role="tab" data-toggle="tab">
                    <small>Albums</small>
                  </a>
                </li>
                <li>
                  <a href="#{{ genre.slug }}-bands" role="tab" data-toggle="tab">
                    <small>Bands</small>
                  </a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="{{ genre.slug }}-albums" style="overflow:hidden">
                  {% for album in genre.related_albums %}
                    <a href="{{ album.get_absolute_url }}" class="dont-decorate">{{ album.title }}</a>
                    <br>
                  {% endfor %}
                </div>
                <div class="tab-pane" id="{{ genre.slug }}-bands" style="overflow:hidden">
                  {% for band in genre.related_bands %}
                    <a href="{{ band.get_absolute_url }}" class="dont-decorate">{{ band.name }}</a>
                    <br>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
{% endblock content %}
