{% load static %}


<div class="row">
  <a href="{{ content.get_absolute_url }}" class="dont-decorate">
    <div class="col-lg-2">
      <img class="img-responsive" src="{{ content.get_detail_image }}">
    </div>
    <div class="col-lg-10">
      <h3>{{ content.title }}
        <small class="pull-right">{{ content.published|date }}</small>
      </h3>
      {% if content.get_detail_album and content.get_detail_band %}
        <h4>
          <em>{{ content.get_detail_album.title }}</em>
          <br>
          <small>by</small>
          {{ content.get_detail_band.name }}</h4>
      {% endif %}
      <span class="dont-decorate">{{ content.get_short_body }}...</span>
    </div>
  </a>
</div>
