{% extends "base/contained.html" %}

{% load highlight %}


{% block title %}Search{% endblock %}


{% block content %}
  {% if query %}
    <div class="row">
      <h1>Results for <em>{{ query }}</em></h1>
    </div>

    <div class="row">
      {% for result in page.object_list %}
        {% if result.object.body %}
        <p>
          <a href="{{ result.object.get_absolute_url }}">
            <h4>[review]&nbsp;{{ result.object }}</h4>
          </a>
          {% highlight result.object.body with query %}
        </p>
        {% elif result.object.title %}
          <p>
            <a href="{{ result.object.get_absolute_url }}">
              <h4>[album]&nbsp;{{ result.object }}</h4>
            </a>
            {% highlight result.object.get_genres_string with query %}
          </p>
        {% else %}
          <p>
            <a href="{{ result.object.get_absolute_url }}">
              <h4>[band]&nbsp;{{ result.object }}</h4>
            </a>
          </p>
        {% endif %}
      {% empty %}
      <p>No results found.</p>
      {% endfor %}
    </div>

    <div class="row">
      {% if page.has_previous or page.has_next %}
      <div class="col-lg-4">
        {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
      </div>
      <div class="col-lg-4">
        |
      </div>
      <div class="col-lg-4">
        {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
      </div>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
