{% load pipeline %}

<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {% block title %} | {% endblock %}MetalTrenches: Because You Need To Be Told What To Listen To
    </title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    {% stylesheet 'bootstrap' %}
    {% stylesheet 'global' %}
    {% block stylesheets %}{% endblock %}
  </head>
  <body>
    {% include "base/partials/nav.html" %}

    {% block __content %}{% endblock %}

    <footer class="footer">
      <div class="container">
        <p class="center-block text-center">
          All Review Content is &copy; 2015 MetalTrenches.com
        </p>
      </div>
    </footer>

    {% javascript 'bootstrap' %}
    {% block scripts %}{% endblock %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-63536777-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
