{% load pipeline ads static %}

<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="{% static 'images/MT-favicon.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Metal Trenches: Because You Need To Be Told What To Listen To">
    <meta name="keywords" content="{% block keywords %}{% endblock %}, metal, reviews, music">
    {% block extra_meta %}{% endblock %}

    <title>
      {% block title %} | {% endblock %}Metal Trenches: Because You Need To Be Told What To Listen To
    </title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    {% stylesheet 'bootstrap' %}
    {% stylesheet 'global' %}
    {% block stylesheets %}{% endblock %}
  </head>
  <body>
    {% include "base/partials/nav.html" %}

    <div class="container">
      {% ad_space %}
    </div>

    {% block __content %}{% endblock %}

    <div class="container">
      {% ad_space %}
    </div>

    {% include "base/partials/footer.html" %}

    {% javascript 'bootstrap' %}
    {% block scripts %}{% endblock %}
    {% ga %}
  </body>
</html>
