{% load pipeline %}

<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {% block title %} | {% endblock %}MetalTrenches: Because You Need To Be Told What To Listen To
    </title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    {% stylesheet 'bootstrap' %}
    {% stylesheet 'global' %}
    {% block stylesheets %}{% endblock %}
  </head>
  <body>
    {% include "base/partials/nav.html" %}

    {% block __content %}{% endblock %}

    {% javascript 'bootstrap' %}
    {% block scripts %}{% endblock %}
  </body>
</html>
