{% extends 'base/contained.html' %}


{% block title %}Contact{{ block.super }}{% endblock %}


{% block content %}
  <div class="row">
    <div class="col-lg-12">
      <header>
        <h1>About Metal Trenches</h1>
      </header>
      <p>
        This site was developed as a means to help lesser-known bands and musicians gain increased exposure.
        I do enjoy listening to and writing about music, but nothing is more satisfying than hearing that a
        posted publication or link resulted in a new fan for a deserving artist.
      </p>
      <p>
        Unlike most review sites, I will only publish what I deem worthwhile (usually an overall score of 7.5 or above).
        This may seem elitist, but it is not my wish to present harsh reviews or cause possible harm to a group that
        I may simply not understand.
      </p>
      <p>
        Those who visit the contact page and send me something that piques my interest will receive a
        review on Metal Trenches, as well as some viral marketing of your album via forums and other
        social networking.
      </p>
      <p>
        Happy head-banging.<br>
        FlightOfIcarus
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <header>
        <h1>Contact Info</h1>
      </header>
      To contact metaltrenches.com, please send an email to <a href="mailto:metal.trenches@gmail.com">metal.trenches@gmail.com</a>.
    </div>
  </div>
{% endblock %}
