.callout {
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 5px #1c1e22;
  height: 475px
}

.callout-title-container {
  -ms-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg)
}

.callout-title-text {
  background: rgba(0, 0, 0, 0.9);
  margin: -2px
}

.callout-date {
  -ms-transform: rotate(1deg);
  -webkit-transform: rotate(1deg);
  transform: rotate(1deg);
  background: rgba(0, 0, 0, 0.9)
}

.callout-artist-container {
  position: absolute;
  bottom: 30px;
  padding-left: 15px;
  -ms-transform: rotate(1deg);
  -webkit-transform: rotate(1deg);
  transform: rotate(1deg)
}

.callout-artist-text {
  background: rgba(0, 0, 0, 0.9);
  margin: -2px
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .callout {
    background-size: cover;
    background-repeat: no-repeat;
    border: solid 5px #1c1e22;
    height: 475px
  }

  .callout-title-container {
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg)
  }

  .callout-title-text {
    background: rgba(0, 0, 0, 0.9);
    margin: -2px
  }

  .callout-date {
    -ms-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
    background: rgba(0, 0, 0, 0.9)
  }

  .callout-artist-container {
    position: absolute;
    bottom: 30px;
    padding-left: 15px;
    -ms-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg)
  }

  .callout-artist-text {
    background: rgba(0, 0, 0, 0.9);
    margin: -2px
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .callout {
    background-size: cover;
    background-repeat: no-repeat;
    border: solid 5px #1c1e22;
    height: 475px
  }

  .callout-title-container {
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg)
  }

  .callout-title-text {
    background: rgba(0, 0, 0, 0.9);
    margin: -2px
  }

  .callout-date {
    -ms-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
    background: rgba(0, 0, 0, 0.9)
  }

  .callout-artist-container {
    position: absolute;
    bottom: 30px;
    padding-left: 15px;
    -ms-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg)
  }

  .callout-artist-text {
    background: rgba(0, 0, 0, 0.9);
    margin: -2px
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .callout {
    background-size: cover;
    background-repeat: no-repeat;
    border: solid 5px #1c1e22;
    height: 475px
  }

  .callout-title-container {
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg)
  }

  .callout-title-text {
    background: rgba(0, 0, 0, 0.9);
    margin: -2px
  }

  .callout-date {
    -ms-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
    background: rgba(0, 0, 0, 0.9)
  }

  .callout-artist-container {
    position: absolute;
    bottom: 30px;
    padding-left: 15px;
    -ms-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg)
  }

  .callout-artist-text {
    background: rgba(0, 0, 0, 0.9);
    margin: -2px
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .callout {
    background-size: cover;
    background-repeat: no-repeat;
    border: solid 5px #1c1e22;
    height: 475px
  }

  .callout-title-container {
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg)
  }

  .callout-title-text {
    background: rgba(0, 0, 0, 0.9);
    margin: -2px
  }

  .callout-date {
    -ms-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
    background: rgba(0, 0, 0, 0.9)
  }

  .callout-artist-container {
    position: absolute;
    bottom: 30px;
    padding-left: 15px;
    -ms-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg)
  }

  .callout-artist-text {
    background: rgba(0, 0, 0, 0.9);
    margin: -2px
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .callout {
    background-size: cover;
    background-repeat: no-repeat;
    border: solid 5px #1c1e22;
    height: 475px
  }

  .callout-title-container {
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg)
  }

  .callout-title-text {
    background: rgba(0, 0, 0, 0.9);
    margin: -2px
  }

  .callout-date {
    -ms-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
    background: rgba(0, 0, 0, 0.9)
  }

  .callout-artist-container {
    position: absolute;
    bottom: 30px;
    padding-left: 15px;
    -ms-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg)
  }

  .callout-artist-text {
    background: rgba(0, 0, 0, 0.9);
    margin: -2px
  }
}
