html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body, p {
  font-size: 17px !important;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #222;
  color: #fff;
}

.dont-decorate {
  text-decoration: none;
}
