<div class="col-lg-6">
  <img src="{{ MEDIA_URL }}{{ review.album.cover_art }}" class="img-responsive">
</div>

<div class="col-lg-6">
  <header>
    <h1>{{ review.title }}</h1>
    {% if review.subtitle %}<h2>{{ review.subtitle }}</h2>{% endif %}
    <h3>
      <a href="{{ review.album.get_absolute_url }}"><em>{{ review.album.title }}</em></a>
      &nbsp;by <a href="{{ review.album.band.get_absolute_url }}">{{ review.album.band }}</a></h3>
  </header>

  <p>&nbsp;</p>

  <div id="ratings-chart" style="height:300px;"></div>
</div>
