{% extends 'base/contained.html' %}


{% block title %}Contact{{ block.super }}{% endblock %}


{% block content %}
  <div class="row">
    <div class="col-lg-12">
      <header>
        <h1>About Metal Trenches</h1>
      </header>
      <p>
        This site was developed as a means to help lesser-known bands and musicians gain increased exposure.
        I do enjoy listening to and writing about music, but nothing is more satisfying than hearing that a
        posted publication or link resulted in a new fan for a deserving artist.
      </p>
      <p>
        Unlike most review sites, I will only publish what I deem worthwhile (usually an overall score of 7.5 or above).
        This may seem elitist, but it is not my wish to present harsh reviews or cause possible harm to a group that
        I may simply not understand.
      </p>
      <p>
        If you are interested in being reviewed or promoted through Metal Trenches, send a promo or bandcamp code
        to the following email address. Bandcamp codes are particularly great as I can link the publication to
        your album page. Any promos received will kept confidential.
      </p>
      <p>
        Happy head-banging.<br>
        FlightOfIcarus
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <header>
        <h1>Contact Info</h1>
      </header>
      <p>
        To contact metaltrenches.com, please send an email to <a href="mailto:metal.trenches@gmail.com" target="_blank">metal.trenches@gmail.com</a>.
      </p>
      <p>
        Additionally, you can contact me through my bandcamp fan page: <a href="http://bandcamp.com/flightoficarus86" target="_blank">bandcamp.com/flightoficarus86</a>.
      </p>
      <p>
        If you would also like to shamelessly promoted the site, I've also gone social:
        <ul class="list-unstyled">
          <li><a href="http://www.facebook.com/metaltrenches" target="_blank">www.facebook.com/metaltrenches</a></li>
          <li><a href="https://twitter.com/MetalTrenches" target="_blank">@MetalTrenches</a></li>
        </ul>
      </p>
    </div>
  </div>
{% endblock %}
